/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.card-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.card-container {
  display: flex;
  flex-wrap: wrap; /* Ensures items wrap to the next line if container is not wide enough */
  margin-left: 2rem;
}
.main{
  display: flex;
  flex-direction: row;
}
.SideBar {
  width: 25%; /* Set initial width to occupy 20% of viewport */
  min-width: 250px; /* Set a minimum width to prevent the sidebar from becoming too narrow */
  background-color: #7EB0C7; /* Set background color */
  position: relative; /* Fixed positioning to keep the sidebar visible while scrolling */
  top: 0; /* Position from the top */
  left: 0; /* Position from the left */
  height: 100%; /* Occupy full height of the viewport */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */
  transition: width 0.3s ease; /* Add transition for smoother resizing */
}
@media screen and (max-width: 768px) {
  .SideBar {
    width: 100%; /* Make sidebar occupy full width on smaller screens */
    min-width: 0; /* Reset minimum width */
  }
}